<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hello, Everyone!</h1>
  <h2> Welcome To Your Interview Prepration WebSite.....</h2>
  <hr class="my-4">
  <p>Express and Node JS Interview Questions.</p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" role="button" id="fetchData">fetch Questions</a>

  <span class="lead">
    <a class="btn btn-primary btn-lg" href="/result" role="button"> Display Result</a>
  </span>
    </p>
</div>
<div class="row">
  <div class="col-12">
    <h2>
     This App Scrapping Interviews question from other site to help You practise and 
     prepare yourself to get a professional job.
    </h2>
    <br>
    <h3>
   This app will display around 57 questions and answers about Node js and 
   express module and you can add your comments by click any question 
    </h3>
    <br>
    <h4>
    Orignal source for this article is<a href=" https://www.onlineinterviewquestions.com/node-js-interview-questions"> Visit Orignal Link</a>
    </h4>
  </div>
    <div class="col-10"></div>
        
   - 
    
</div>
</div>

